<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style type="text/css" media="screen">
 @import url(cid:id001);
</style>
<title>Confirmación de la celebración de la charla sobre "Spring Framework"</title>
</head>
<body>
	<div id="header">
		<img src="cid:id002" />
	</div>
	<div id="content">
		<p>Hola ${user.name},</p>
		<p>Te confirmamos la celebración de la charla sobre "${courseName}" del $date.format("dd/MM/yyyy", $courseDate).</p>
		<p>Un saludo.</p>
		<p>El equipo de Autentia.</p>
	</div>
	<div id="footer">
		<p>De conformidad con lo establecido en la legislación vigente en materia de Protección de Datos de Carácter Personal 
		(Ley Orgánica de Protección de Datos, 15/1999 de 13 de Diciembre), la empresa Autentia Real Business Solutions S.L. 
		comunica al receptor de éste correo electrónico que sus datos personales forman parte de un fichero automatizado 
		titularidad de la empresa, cuya finalidad es el mantenimiento de la relación empresarial y comercial con usted o con 
		su empresa: envío de información y publicidad sobre ofertas de servicio, promociones, recomendaciones y convocatorias 
		de cursos y seminarios.</p>
	
		<p>Usted podrá ejercitar los derechos de acceso, rectificación, oposición y cancelación de sus datos, dirigiéndose por escrito 
		o correo electrónico a Autentia Real Business Solutions S.L. info@autentia.com. Avda. Castilla, 2, Edificio Italia, 1ª Planta 
		Parque Empresarial San Fernando 28830 San Fernando de Henares. Madrid.</p>
	</div>
</body>
</html>